#
# Global ignores for frontend and backend applications
#

# Environments
.env
.env.*

# Jetbrains
.idea/
*.iml

# VS Code
.vscode/

# Local development logs
*.log

# macOS
.DS_Store

# Virtual environments (Python)
venv/
ENV/
env/
.venv/
.ENV/
env.bak/
venv.bak/
